body{
margin:0;
font-family:sans-serif;
}

header{
padding:20px;
background:white;
}

.logo{
font-size:20px;
}

.hero{
height:100vh;
background:url("https://images.unsplash.com/photo-1501339847302-ac426a4a7cbb") center/cover;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.hero-inner{
background:rgba(255,255,255,0.85);
padding:40px;
border-radius:10px;
}

.accent{
color:#8b5e3c;
}

.hero-inner h2{
font-size:40px;
margin-bottom:15px;
}

.hero-inner p{
margin-bottom:20px;
}

.btn{
display:inline-block;
padding:12px 25px;
background:#8b5e3c;
color:white;
text-decoration:none;
border-radius:5px;
}

/* コンセプト */
.concept{
padding:100px 20px;
}

.concept-inner{
max-width:1000px;
margin:0 auto;
display:flex;
gap:40px;
align-items:center;
}

.concept-image img{
width:100%;
height:350px;
object-fit:cover;
border-radius:10px;
}

.concept-image{
flex:1;
}

.concept-text{
flex:1;
}

.concept-text h2{
margin-bottom:20px;
font-size:32px;
}

.concept-text p{
margin-bottom:15px;
line-height:1.7;
}

/* メニュー */
.menu{
background:#f7f3ef;
padding:100px 20px;
}

.menu-inner{
max-width:900px;
margin:0 auto;
text-align:center;
}

.menu h2{
font-size:32px;
margin-bottom:40px;
}

.menu-items{
display:grid;
grid-template-columns:1fr 1fr;
gap:30px;
}

.menu-item{
background:white;
padding:30px;
border-radius:10px;
}

/* ギャラリー */

.gallery{
padding:100px 20px;
}

.gallery-inner{
max-width:1000px;
margin:0 auto;
text-align:center;
}

.gallery h2{
font-size:32px;
margin-bottom:40px;
}

.gallery-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.gallery-grid img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
}

/* 店舗情報 */
.access{
background:#f7f3ef;
padding:100px 20px;
}

.access-inner{
max-width:700px;
margin:0 auto;
text-align:center;
}

.access h2{
font-size:32px;
margin-bottom:30px;
}

.access p{
margin-bottom:10px;
line-height:1.7;
}

/* フッター */
.footer{
background:#333;
color:white;
padding:40px 20px;
text-align:center;
}

.footer-inner{
max-width:900px;
margin:0 auto;
}

.footer h3{
margin-bottom:10px;
}

.footer p{
margin:5px 0;
font-size:14px;
}

/* レスポンシブ */
@media (max-width:768px){
  /* ヒーロー */
  .hero{
height:auto;
padding:90px 20px;
}

.hero-inner{
padding:20px;
}

.hero-inner h2{
font-size:26px;
line-height:1.3;
}

.hero-inner p{
font-size:14px;
}

.hero-inner{
padding:25px;
}

/* コンセプト */
.concept-inner{
flex-direction:column;
}

.concept-image{
width:100%;
height:220px;
overflow:hidden;
margin-bottom:20px;
}

.concept-text h2{
font-size:26px;
}

.concept-text p{
line-height:1.8;
}

.concept-image img{
width:100%;
height:100%;
object-fit:cover;
}
}